{% extends 'dashboard_base.html' %}
{% load static %}

<body>
    {% block pagecontent %}


    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

        </div>

        <!-- Content Row -->
        <!-- end of wor -->

        <!-- Content Row -->
        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary"> Create Event</h6>
                        <span>
                            <div class="error_class" id="errorMsg">
                            </div>
                        </span>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area col-xl-4 col-lg-5" style="height:auto">
                            <form class="event">
                                <div class="form-group dropdown no-arrow align-items-center">
                                    <label> <span style="color:red">*</span> Select Event Type</label>

                                    <a class="btn border-bottom-success shadow btn-lg dropdown-toggle form-control"
                                        type="button" id="event_type_id" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        ---------
                                    </a>
                                    <input type="text" name="event_type" class="form-control form-control-user"
                                        id="event_type" style="visibility:hidden">
                                    <div class="dropdown-menu animated--fade-in" aria-labelledby="event_type_id">
                                        <a class="dropdown-item btn border-bottom-success shadow btn-lg dropdown-toggle form-control"
                                            type="button" href="#" onclick="set_ddl_value('Out Door Sports')">Out Door
                                            Sports</a>
                                        <a class="dropdown-item btn border-bottom-success shadow btn-lg dropdown-toggle form-control"
                                            type="button" href="#" onclick="set_ddl_value('In Door Sports')">In Door
                                            Sports </a>
                                        <a class="dropdown-item btn border-bottom-success shadow btn-lg dropdown-toggle form-control"
                                            type="button" href="#" onclick="set_ddl_value('Movie')">Movie</a>
                                        <a class="dropdown-item btn border-bottom-success shadow btn-lg dropdown-toggle form-control"
                                            type="button" href="#" onclick="set_ddl_value('Conference')">Conference</a>
                                        <a class="dropdown-item btn border-bottom-success shadow btn-lg dropdown-toggle form-control"
                                            type="button" href="#" onclick="set_ddl_value('Dinner')">Dinner</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label> <span style="color:red">*</span> Enter Event Name</label>
                                    <input type="text" name="event_name" class="form-control form-control-user"
                                        id="event_name" placeholder="Name" required>
                                </div>

                                <div class="form-group">
                                    <label>Small Description about event</label>
                                    <textarea class="form-control form-control-user" id="description" name="description"
                                        rows="3" id="event_desc" placeholder="description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Enter Event Fees</label>
                                    <input type="number" name="fees" id="fees" min="0" value="0" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Enter Max Member Capacity </label>
                                    <input type="number" name="capacity" id="capacity" class="form-control" value="2">
                                </div>

                                <div class="form-group">
                                    <label><span style="color:red">*</span> Select Event Date</label>
                                    <input type="date" name="event_date" id="event_date" max="3000-12-31"
                                        min="1000-01-01" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label><span style="color:red">*</span> Enter Event Place</label>
                                    <input type="text" placeholder="venue" id="location" name="location"
                                        class="form-control form-control-user" id="event_place_id" required>
                                </div>
                                <div class="form-group">
                                    <label><span style="color:red">*</span> Enter Event Timing</label>
                                    <input type="time" name="time" class="form-control" id="time" required>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="form-control btn btn-danger btn-lg"
                                        id="create_event_id">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-6 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">All Events</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body" style="height:auto;width: auto;">
                        <table class="table all_event_table" id="event_table_id">
                        </table>
                        <div class="mt-4 text-center small">
                            <span class="mr-2">
                                <i class="fas fa-circle text-primary"></i> Out door Sports
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-success"></i> Indoor Sports
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-info"></i> Movie
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-secondary"></i> Conference
                            </span>

                            <span class="mr-2">
                                <i class="fas fa-circle text-danger"></i> Dinner
                            </span>

                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Subscribed Events</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body" style="height:auto;width: auto;">
                        <table class="table all_event_table" id="user_event_table_id">
                        </table>
                        <div class="mt-4 text-center small">
                            <span class="mr-2">
                                <i class="fas fa-circle text-primary"></i> Out door Sports
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-success"></i> Indoor Sports
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-info"></i> Movie
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-secondary"></i> Conference
                            </span>

                            <span class="mr-2">
                                <i class="fas fa-circle text-danger"></i> Dinner
                            </span>

                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">About Event Management</h6>
                    </div>

                    <div class="card-body">
                        <p class="mb-0">This app will help you to organize events and involve in social activities.
                            The main problem statement was: we generally have very big friend circle,
                            so most of the time we decide to do something and unable to invite some one or similarly
                            some organize
                            events and you didn't get to know about that event, even you are desperate to join such
                            events.
                            <hr>
                            <p>You can create, modify events</p>
                            <p>take parts in events created by others</p>
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container-fluid -->

    {% endblock %}
</body>

</html>