{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} Dashboard {% endblock %}</title>
</head>
<body>
  {% block pagecontent %}
  <div class="main">
    <!-- Sing in  Form -->
    <section class="sign-in" id="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="{% static 'images/events1.jpg' %}" alt="sing up image"></figure>
                    <input type="submit" name="logout" id="log_out_btn" class="form-submit" value="Log Out" />
                </div>
                <div class="signin-form event-list">
                    <h2 class="form-title">My Dashboard</h2>
                    <div class="social-login">
                        <h2 style="margin-right: 50px">My Events</h2>
                        <ul class="socials">
                            <li><a href="#" ><i class="display-flex-center zmdi  zmdi-movie"></i></a></li>
                        </ul>
                    </div>
                    <div class="social-login">
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-menu"></i></a></li>
                        </ul>
                        <h2 style="margin-left:50px"> Create</h2>
                    </div>
                    <div class="social-login">
                       <h2 style="margin-right:50px"> Browse </h2>
                       <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google-earth"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
  {% endblock %}
</body>
</html>